/* Global app styles */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* print media queries in here, since I don't want to write them over and over again
in different components */

@media print {
  #open-button,
  .menu,
  .controls-container,
  .resume-overflow-warning {
    display: none !important;
  }
  .resume-container {
    position: static !important;
    overflow: visible !important;
    margin: initial !important;
    width: initial !important;
    height: initial !important;
  }
  .resume {
    box-sizing: border-box;
    padding: var(--pointFiveIn);
    top: 0 !important;
    transform: none !important;
    height: var(--A4height) !important;
    width: var(--A4width) !important;
    box-shadow: none !important;
    margin: 0 !important;
  }

  .name {
    font-size: 0.27in !important;
  }

  .subname,
  ul,
  h3 {
    font-size: 0.16in !important;
  }
}
