/* Global app styles */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* print media queries in here, since I don't want to write them over and over again
in different components */

@media print {
  .open-button,
  .menu,
  .controls-container,
  .resume-overflow-warning {
    display: none !important;
  }
  .resume-container {
    transform: none !important;
    height: 100vh !important;
    width: 100vh !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
  .resume {
    position: static !important;
    overflow: visible !important;
    margin: initial !important;
    width: initial !important;
    height: initial !important;
  }
}
