:root {
  --header-height: 42px;
  --mobile-width: 400px;
  --menu-height: 100vh;
  --header-height: 42px;
  --menu-box-shadow-width: 12px;
  --divider-color: gray;
  --menu-transition-time: 0.35s;
  --menu-transition-page-curve: cubic-bezier(0.22, 0.61, 0.36, 1);
  --input-margin-bottom: 1.5em;
  --label-margin-bottom: calc(var(--input-margin-bottom) * 0.5);
  --menu-side-margin: 1rem;
  --input-width: calc(100% - 2 * var(--menu-side-margin));
}

h1,
h2,
h3,
h4 {
  margin: 0 var(--menu-side-margin) 0.45em var(--menu-side-margin);
}

p {
  margin: 0 var(--menu-side-margin) 0.9em var(--menu-side-margin);
}

.submenu-header {
  display: flex;
  justify-content: space-between;
}

.button-like {
  font-family: serif;
  font-weight: bold;
  background: lightgray;
  padding: 0 0.3em;
  border-radius: 5px;
}

.link-like {
  font-size: 1em;
  display: inline-block;
  color: blue;
  text-decoration: underline;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.link-like:active {
  color: red;
}

label {
  display: block;
  margin: 0 var(--menu-side-margin) var(--label-margin-bottom) var(--menu-side-margin);
}

input[type='text'] {
  font-family: serif;
  font-size: 16px;
}

textarea {
  margin-top: 6px;
  font-family: serif;
  font-size: 16px;
  resize: none;
  width: 100%;
}

/* text based inputs and selects */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
select,
textarea {
  margin: 0 var(--menu-side-margin) var(--input-margin-bottom) var(--menu-side-margin);
  box-sizing: border-box;
  width: var(--input-width);
  display: block;
  padding: 1px 2px;
  font-family: serif;
  font-size: 0.9em;
  min-height: 2em;
}

.hint {
  font-size: 0.75em;
}

textarea {
  resize: none;
  min-height: 5em;
}

select {
  border-width: 2px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  float: left;
  font-weight: bold;
  padding: 0;
  margin: 0 var(--menu-side-margin) var(--label-margin-bottom) var(--menu-side-margin);
}

.inline-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--menu-side-margin) var(--input-margin-bottom) var(--menu-side-margin);
}

.inline-input label {
  margin: 0;
  padding: 0;
  width: 100%;
}

.inline-input input {
  min-height: 1em;
  margin: 0;
}

.divider {
  width: 80%;
  padding-top: 1px;
  background: linear-gradient(90deg, white, #bababa, #bababa, white);
  margin: 1em auto;
}

.big-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.17em; /* same as h3 */
  width: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  height: 2.75em;
  border: none;
  background: white;
  padding: 0;
  text-align: start;
  transition: background-color 0.1s ease-in;
}

.big-btn:hover {
  background: #f5f5f5;
}

.big-btn:active {
  background: #ddd;
}
