.resume {
  --name-font-size: 1.5rem;
  --gap-size: 1rem;
  /*
    todo need to find a better way to create a function to calc things
    by pixel size so I don't have to multiply everything by --resume-ratio all
    the time
  */
  --font-size: calc(var(--resume-ratio) * 16px);
  --font-color: black;
  font-family: sans-serif;
  overflow: hidden;
  font-size: var(--font-size);

  display: grid;
  grid-template-rows: [header-start] auto [content-start] 1fr [content-end];
  grid-template-columns: [primary-content-start] 70% [secondary-content-start] auto;
  gap: calc(var(--resume-ratio) * var(--gap-size));
}

.resume :is(h1, h2) {
  --margin-bottom: 0.5rem;
  margin-bottom: calc(var(--resume-ratio) * var(--margin-bottom));
}

.resume .left {
  display: flex;
  flex-direction: column;
  grid-row: content-start;
  grid-column: primary-content-start;
  overflow: hidden;
}

.resume .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: content-start;
  grid-column: secondary-content-start;
}

.experience ul {
  list-style: none;
  padding-left: calc(var(--resume-ratio) * 0.3rem);
}

.experience ul li {
  margin-top: calc(var(--resume-ratio) * 0.4rem);
}

.basics .name {
  font-size: calc(var(--resume-ratio) * var(--name-font-size));
  font-weight: bold;
}

.skills {
  margin-bottom: calc(var(--resume-ratio) * var(--gap-size));
}

.skills ul {
  --skills-gap-size: 5px;

  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: calc(var(--resume-ratio) * var(--skills-gap-size));
  margin: 0;
}

.skills ul li {
  padding-inline: calc(var(--resume-ratio) * 7px);
  padding-block: calc(var(--resume-ratio) * 5px);
  border: 1px solid var(--font-color);
  border-radius: calc(var(--resume-ratio) * 50px);
}
